@media only screen and (min-width: 768px) {
  .Movie-poster-container {
    display: flex;
    flex-direction: row;
  }
  .Movie-poster {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  .Movie-poster-img {
    margin-top: -100px;
    width: 120px
  }

}
@media only screen and (max-width: 767px) {

  .Movie-poster-container {
    display: flex;
    flex-direction: column;
  }
  .Movie-poster {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .Movie-poster-img {
    margin-top: -40px;
    width: 80px
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .Movie-poster-container {
    display: flex;
    flex-direction: column;
  }
  .Movie-poster {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .Movie-poster-img {
    margin-top: -40px;
    width: 80px
  }
}

.Movie-description {
  font-size: 1.1em;
}