<!doctype html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <% _.forEach(meta, function(tag) { %><meta property="<%- tag.property %>" content="<%- tag.content %>" >
    <% }); %>
    <link href="/stylesheets/app.min.css" rel="stylesheet"/>
</head>
<body>
<div id="surf">
    <%= body %>
</div>
<script src="/javascript/bundle.js"></script>
</body>
</html>