html, body {
  font-family: "Helvetica Neue", Arial;
  font-weight: 200;
  display: block;
  min-height: 100%;
  height: 100%;
  width: 100%;
  color: #474b59;
  background-color: #E5E5E5;
  margin: 0
}

a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}


h1, h2, h3 {
  font-weight: 100;
}

.overflow-hidden {
  overflow: hidden;
}

.linky {
  cursor: pointer
}
/*
a {
  color: hsl(200, 50%, 50%);
}

a.active {
  color: hsl(20, 50%, 50%);
}
*/