@import 'colors.less';
.button-inline {
  margin: 0 5px 0 5px;
}

// flat
button.button-white {
  background-color: transparent;
  color: white;
}

// flat
button.button-transparent {
  background-color: transparent;
}
button.button-confirm {
  background-color: transparent;
  color: #4285f4;
}
button.button-reject{
  background-color: transparent;
  color: @pink;
}
// flat
button.button-alert {
  background-color: transparent;
  color: #D32F2F;
}

.button-pink > div > button.mui-raised-button-container {
  background-color: @pink;
}

.button-pink > div > button > .mui-raised-button-label {
  color: white;
}

.button-pink > .mui-paper-container {
  background-color: transparent;
}

.button-noupper {
  text-transform: none
}

.button-nohover > div > .mui-paper-button-content:hover {
  background-color: transparent;
}

.bigIcon {
  font-size: 3em;
}