@import 'colors.less';

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .layoutContainer {
    width: 1080px;
  }
  .rightContent {
    width: 720px;
  }
  .leftContent {
    width: 360px;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .layoutContainer {
    width: 580px;
  }
  .rightContent {
    width: 580px;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .layoutContainer {
    width: 300px;
  }
  .rightContent {
    width: 300px;
  }

  h1 {
    font-size: 24px;
    line-height: normal;
  }
}

.paddedText {
  margin-right: 10px;
}
/*
.center {
  margin: 0 auto;
}

.right {
  float: right;
}
*/

.full-width {
  width: 100%;
}

.panel {
  margin: 5px;
}
.panel-large {
  max-width: 720px;
  width: 100%;
}
.panel-medium {
  max-width: 400px;
  width: 100%;
}
.panel-small {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}



.card {
  background-color: white;
}
.card__dark {
  background-color: black;
  border-radius: 10px;
  filter:alpha(opacity=60); opacity:.6;
  padding: 10px;
  color: white;
}
.card__shadow {
  box-shadow: 0 1px 1px 1px #aaa;
}
.card__rounded {
  border-radius: 5px;
}
.card__biggertext {
  font-size: 1.1em;
  line-height: 120%;
}

.card--header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  background-color: #f0f0f0;
  width: 100%;
}

.card--body {
  padding: 10px;
}

.card__pink {
  background-color: rgba(255, 64, 129, 0.25)
}

.card-dark h2,.card-dark h3,.card-dark h4, .card-dark p {
  color: white;
}

.card-body {
  width: 100%;
  padding: 15px;
}
.card-header {
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
}

.card-header > h2 {
  color: @pink
}
.card-footer {
  width: 100%;
  padding: 5px 10px;
  background-color: #f0f0f0;
  text-align: center;
}


.width-100 {
  width: 100%
}
.width-75 {
  width: 75%;
}
.width-50 {
  width: 50%
}
.width-25 {
  width:25%
}
.width-66 {
  width: 66%;
}
.width-33 {
  width: 33%;
}
