.mui-input {
  width: 100%;
}
.mui-input > input {
  width: 100%;
}

.mui-radio-button-label {
  display: block;
}
.mui-radio-button {
  margin-bottom: 5px;
}

@input-width: 100%;


.checkbox-red.mui-checkbox.mui-checked > .mui-checkbox-check {
  border-bottom: 2px solid red;
  border-left: 2px solid red;
}

.mui-paper>.mui-paper-container {
  height: auto;
}

.mui-app-bar {
  background-color: transparent;
}


// bugfix
.mui-input-placeholder {
  left: 0
}