.toolbar-white {
  background-color: #ffffff;
  color: #333;
}
.signup-details-top > div > p {
  font-size: 1.3em;
  line-height: 140%;
  text-shadow: rgba(0,0,0,0.3) 4px 4px 4px;
  color: white
}
.signup-details-after {
  margin: 10px;
}
.signup-details-after > div > p {
  font-size: 1.1em;
  line-height: 120%;
  color: #333
}

// QUICK SIGNUP BUTTON
.quick-signup-input.mui-input {
  margin: 0 10px 0 0;
  width: 200px;
  color: white;
}
.quick-signup-input.mui-input > .mui-input-placeholder {
  font-size: 24px;
  color: #CCC;
}

.signup-info-panel {
  padding: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  color: white;
}

.footer > .mui-menu {
  background-color: transparent;
}
.footer > .mui-menu > .mui-paper-container {
  background-color: transparent;
}