.collapsible-content {
    transition: opacity 1s ease-in-out, height 1s ease-in-out;
    opacity: 1;
    height: auto;
}
.collapsible-content.collapsible-content-visible {
}
.collapsible-content.collapsible-content-hidden {
    transition: height 1s ease-in-out;
    opacity: 0;
    height: 0;
}
.collapsible-header h4 {
    padding: 0;
    margin: 0 5px;
    cursor: pointer;
}