.header-panel {
    max-width: 340px;
    min-width: 300px;
    width: 100%;
}
.header-panel-container {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 300px;
    max-width: 340px;
    width: 100%;
    height: 192px
}

.header-panel-title {
    color: white;
    margin-left: 8px;
    font-weight: 200;
    text-shadow: rgba(0,0,0,0.3) 3px 3px 3px;
}

.header-panel-toolbar {
    width: 100%;
    padding: 10px;
    .mui-icon {
        color: white;
    }
}


.header-content {
    width: 100%;
    padding: 10px;
}
.header-panel-content {
    width: 100%;
    padding: 10px;
}

.header-fab {
    margin-top: -30px;
    margin-right: 10px;
}