@import '../colors.less';

@media only screen and (min-width: 768px) {
  /* tablets and desktop */
  .container--main--splash  {
    min-height: 550px;
  }
  .container--main--splash--title {
    font-size: 3em;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */
  .container--main--splash  {
    min-height: 350px;
  }
  .container--main--splash--title {
    font-size: 3em;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
  /* portrait phones */
  .container--main--splash  {
    min-height: 250px;
  }
  .container--main--splash--title {
    font-size: 24px;
  }
}


.PageContainer-icon {
  padding: 10px;
}



@nav-width: 254px;
/**
* CONTAINER
*/
.container {
  //background-color: #ddd;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
}
/**
* CONTAINER MAIN
*/
.container--main {
  width: 100%;
  position: absolute;
  left: 0;
  transition: all 600ms ease-in-out;
}
.container--main.show-nav-right {
  margin-left: @nav-width * -1;
  right: @nav-width;
  transition: all 600ms ease-in-out;
}
.container--main.show-nav-left {
  margin-right: @nav-width * -1;
  left: @nav-width;
  transition: all 600ms ease-in-out;
}

.container--main.show-nav-right > .container--main--header  {
  left: @nav-width * -1;
  transition: all 600ms ease-in-out;
}
.container--main.show-nav-left > .container--main--header  {
  left: @nav-width;
  transition: all 600ms ease-in-out;
}
.container--main--content {
  display:  flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
}
.container--main--content__nobleed {
  margin: 0;
}
.container--main--content__center {
  align-items: center;
}
.container--main--header {
  z-index: 40;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 600ms ease-in-out;
}
.container--main--header--toolbar {
  height: 67px;
  width: 100%;
  display: flex;
  align-items: center;
}
.container--main--header--toolbar__top {
  background-color: transparent;
  color: white;
  text-shadow: 3px 3px 3px red;
  transition: background-color 700ms, color 300ms;
}
.container--main--header--toolbar__main {
  background-color: @logo-green;
  color: white;
  transition: background-color 700ms, color 300ms;
  box-shadow: 0 2px 2px -2px rgb(0,0,0,0.7)
}
.container--main--header--toolbar--title {
  font-size: 20px;
}
.container--main--header--toolbar__top > .container--main--header--toolbar--title {
  opacity: 0;
  transition: all 500ms;
}
.container--main--header--toolbar__main > .container--main--header--toolbar--title {
  opacity: 1;
  transition: all 500ms;
}


.container--main--header--toolbar--fab {
  position: relative;
  top: 28px;
}
.container--main--header--toolbar__top > .container--main--header--toolbar--fab {
  opacity: 0;
  transition: all 500ms;
}
.container--main--header--toolbar__main > .container--main--header--toolbar--fab {
  opacity: 1;
  transition: all 500ms;
}


.container--main--overlay {
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  transition: background-color 500ms;
  position: fixed;
}
.container--main--overlay__hidden {
  display: none;
  background-color: rgba(0,0,0,0);
  transition: background-color 500ms;
}
.container--main--splash {
  box-shadow: 0 5px 9px -3px rgba(0,0,0,.75);
  background-size: 100% 100%;
  flex-direction: column;
  display: flex;
  transition: height 1s, min-height 1s, background-color 1s;
  color: white;
}
.container--main--splash--body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container--main--splash--title {
  text-shadow: rgba(0,0,0,0.3) 3px 3px 3px;
  font-weight: 200;
  line-height: normal;
}
.container--main--splash--extras {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container--main--splash--bottom {
  width: 100%;
}
.container--main--splash--body--fab {
  position: relative;
  bottom: -30px;
  right: 65px;
}
/**
* CONTAINER RIGHTNAV
*/
.container--rightnav {
  z-index: 100;
  height: 100%;
  width: @nav-width;
  right: @nav-width * -1;
  position: fixed;
  transition: all 600ms ease-in-out;
}
.container--rightnav.show-nav {
  right: 0;
  transition: all 600ms ease-in-out;
  border-right: 1px solid #ccc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
}
/**
* CONTAINER LEFTNAV
*/
.container--leftnav {
  z-index: 100;
  height: 100%;
  width: @nav-width;
  background-color: white;
  position: fixed;
  left: -254px;
  transition: all 600ms ease-in-out;
}
.container--leftnav.show-nav {
  display: block;
  left: 0;
  border-right: 1px solid #ccc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);
  transition: all 600ms ease-in-out;
}

