.queue-card.create {
  opacity: 0.5;
}
.queue-card.delete {
  opacity: 0.25;
}

.queue-card--link {
  color: #444;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
}
.queue-card__deleted {
  opacity: 0.4;
}