ul.queue-horizontal {

}
ul.queue-horizontal > li {
    display: inline-block;
    list-style-type: none;
}


.anonymousHeader {
    background-color: #FFF9C4;
    margin-bottom: 4px;
}
.anonymousHeader > div {
    padding-bottom: 10px;
    //box-shadow: -2px 4px 4px 0 #ccc;
}

.headerSpacer {
    padding-top: 74px;
    transition: margin-top 1s;
}
.headerSpacerHidden > div {
    margin-top: 0;
    transition: margin-top 1s;
}
.headerSpacerHidden {
    background-color: transparent;
    transition: background-color 500ms;
}

.headerSpacerHidden > div {
    margin-top: -150px;
    transition: margin-top 1s;
}